<app-header *ngIf="showContent"></app-header>

<div class="buda-background"[style.transform]="
   'rotateX(' + (mouseY * 8) + 'deg) rotateY(' + (mouseX * 8) + 'deg) scale(1.05)'
">
  <!-- Video de marca inicial -->
  <video 
    *ngIf="showAnimated"
    src="assets/video/code.mp4"
    autoplay
    muted
    playsinline
    (ended)="onVideoEnd()"
  ></video>

  <!-- Imagen de fondo (fallback después del video) -->
  <img *ngIf="!showAnimated" src="assets/images/buda.png" alt="Buda">
</div>

<div class="content" *ngIf="showContent">
  <!-- Aquí van tus componentes de la web -->
</div>

<router-outlet *ngIf="showContent"></router-outlet>
