.buda-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.buda-background video,
.buda-background img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  margin-top: 250px;
}
